{% extends 'core/base.html' %}

{% block title%}Como Adoptar{% endblock%}
{% load static %}
<link  href="{% static 'core/css/style.css' %}" rel="stylesheet">  

{% block content%}

        <article class="txt_adopcion">
            <img class="img_comp" src="{% static 'core/img/posse-responsavel-pet.jpg' %}" alt="adopción responsable">
            <h2>Adopción responsable</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam id beatae, nam unde natus molestias eos nostrum, recusandae facilis nisi adipisci odio voluptas molestiae? Ut ex dolore omnis quasi mollitia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam repellat quod magni nisi molestias quia provident, suscipit nostrum quasi recusandae, a commodi repellendus! Saepe magni dicta doloribus aliquam fuga placeat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt iusto sit saepe deleniti molestiae magnam fugit ad voluptates odio earum, officiis rerum! Incidunt molestias eligendi fugit veniam error autem!</p>
        </article>
        <article class="txt_adopcion">
            <img class="img_comp_r" src="{% static 'core/img/adotar-cachorro-805x452.jpeg' %}" alt="adopción responsable">
            <h2>¿pero y entonces, cómo puedo adoptar?</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est vel quod quis, distinctio enim eum perspiciatis tempora quae asperiores, minima obcaecati accusamus nam ullam nostrum ipsa sed officia ducimus sapiente? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, voluptates tenetur libero exercitationem, ex incidunt ducimus vel obcaecati explicabo reiciendis magni reprehenderit cum corporis accusantium magnam aliquam aliquid dicta voluptatem! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt iusto sit saepe deleniti molestiae magnam fugit ad voluptates odio earum, officiis rerum! Incidunt molestias eligendi fugit veniam error autem!</p>
        </article>

{% endblock %}