{% extends 'core/base.html' %}

{% block title%}Porque Adoptar{% endblock%}
{% load static %}
<link  href="{% static 'core/css/style.css' %}" rel="stylesheet">  


{% block content %}        
        <article class="txt_adopcion">
            
            <img class="img_comp" src="{% static 'core/img/cão e gato.jpg' %}" alt="perro y gato">
            <h2>¿Porqué adoptar?</h2>
            <p>Adoptar una mascota te va a cambiar la vida!

                Tendrás a alguien que te amará incondicionalmente.<br>
                 Nunca te juzgará ni por tu personalidad ni aspecto<br>
                Siempre están contentos y te contagiarán su buen humor.<br>
                Tendrás un motivo mas para levantarte del sillón y hacer una vida mas saludable, programando paseos y actividades.<br>
                SI tenés niños, las mascotas ayudan a fortalecer su sistema inmunitario y reducen la posibilidad de que desarrollen alergias.<br>
                Mejoran la autoestima de sus propietarios, especialmente en el caso de los niños y de las personas que viven solas.<br>
                Acariciar y abrazar a una mascota, reduce el nivel de estrés<br>
                Sin dudas sumar un nuevo integrante a nuestra familia implica mucha responsabilidad, por eso aunque sepamos que el amor es lo mas importante, también sabemos que no solo con ello podremos mantenerlo, es importante reconocer si uno tiene todas las condiciones necesarias para poder darle lo mínimo indispensable para su vida, desde alimentación, cuidados sanitarios, espacios según la mascota elegida, y tiempo para dedicarle.</p>

                <p>Fuente: https://www.timberline.com.ar/blog/porque-adoptar-una-mascota-rescatada-b17.html</p>
        </article>
        <article>

        </article>

{% endblock %}
